<h1><%= t('.title') %></h1>

<%= form_tag password_reset_path(params[:id]), method: :put do %>
  <p>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </p>

  <p>
    <%= label_tag :password_confirmation %>
    <%= password_field_tag :password_confirmation %>
  </p>

  <p>
    <%= submit_tag t('.submit') %>
  </p>
<% end %>
