<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= t('.title') %></title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/flash_messages' %>
  <%= yield %>
  <%= javascript_include_tag 'application' %>
</body>
</html>
