<!DOCTYPE html>
<html lang="en" ng-app="beakerApp">
  <head>
    <title><%= t('.title') %></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/flash_messages' %>
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
